In [2]:
print("Hello World")

Hello World

In [3]:
print("I am in the jupyter notebook")

I am in the jupyter notebook

In [5]:
# this is my first program
# I am printing random things
print("Hello Again")

Hello Again

In [6]:
# Integers
age = 25

In [7]:
type(age)

int

In [8]:
age

25

In [10]:
# Floating point numbers
temperature = 40.5 # celcius

In [11]:
type(temperature)

float

In [12]:
temperature

40.5

In [13]:
# Strings
name = "Virat"

In [14]:
type(name)

str

In [15]:
name

'Virat'

In [16]:
name = "Abhishek"

In [17]:
name

'Abhishek'

In [18]:
# Boolean 
is_student = True

In [19]:
type(is_student)

bool

In [20]:
is_student

True

In [21]:
age, name, temperature, is_student

(25, 'Abhishek', 40.5, True)

In [22]:
# Basic operations: addition
result = 5 + 3
result

8

In [23]:
type(result)

int

In [24]:
result = 5.0 + 3
result

8.0

In [25]:
type(result)

float

In [28]:
# multiplication
result = 5*3.0
result

15.0

In [29]:
type(result)

float

In [30]:
#division
result = 15 / 3
result

5.0

In [31]:
type(result)

float

In [33]:
# subtraction
result = 5 - 3
result

2

In [35]:
# string concatentaion
name = "Abhishek"
greeting = "Hello!!!"
message = greeting + ' ' + name
print(message)

Hello!!! Abhishek

In [36]:
# comparison operators
# greater than
result = 10 > 5
result

True

In [37]:
type(result)

bool

In [38]:
# less than
result = 5 < 3
result

False

In [39]:
# equal to
5 == 5

True

In [40]:
# not equal to
5 != 5

False

In [41]:
3 != 5

True

In [45]:
is_raining = True
is_sunny = False

# Logical AND
result = is_raining and is_sunny
print(result)

False

In [46]:
# Logical OR
result = is_raining or is_sunny
print(result)

True

In [48]:
# Logical NOT
result = not is_sunny
print(result)

True